/********************************

*******

** SLIDER FRONT PAGE

*******

**********************************/

.p28-block-rounded {

    border-radius: 10px;

    margin: 5%;

}



.p28-h1accroche {

    border-top: 5px solid #fceeca;

    margin: 0;

    padding: 5% 0;

    width: 350px;

    font-size: 20px;





}



.p28-logoanim>.p28-txt-fceeca {

    -webkit-animation-name: fadeInLeft;

    animation-name: fadeInLeft;

    -webkit-animation-duration: 1.2s;

    animation-duration: 1.2s;

    -webkit-animation-fill-mode: both;

    animation-fill-mode: both;

}



@-webkit-keyframes fadeInLeft {

    0% {

        opacity: 0;

        -webkit-transform: translate3d(-100%, 0, 0);

        transform: translate3d(-100%, 0, 0);

    }



    100% {

        opacity: 1;

        -webkit-transform: none;

        transform: none;

    }

}



@keyframes fadeInLeft {

    0% {

        opacity: 0;

        -webkit-transform: translate3d(-100%, 0, 0);

        transform: translate3d(-100%, 0, 0);

    }



    100% {

        opacity: 1;

        -webkit-transform: none;

        transform: none;

    }

}



.p28-logoanim {

    display: flex;

    flex-direction: row;

}

.p28-logoanim h1 {
    line-height: 51px;
}








.slider {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100%;

    width: 100%;

}



.slide {

    position: absolute;

}



.p28-slide-img {

    width: 45vw;

    height: 509px;

    object-fit: cover;

    border-radius: 10px;



}



#p28-img1 {

    z-index: 4;

    animation: fadeSlides 15s -0s infinite;

    -webkit-animation: fadeSlides 15s -0s infinite;

}



#p28-img2 {

    z-index: 3;

    animation: fadeSlides 15s -5s infinite;

    -webkit-animation: fadeSlides 15s -5s infinite;

}



#p28-img3 {

    z-index: 2;

    animation: fadeSlides 15s -7s infinite;

    -webkit-animation: fadeSlides 15s -7s infinite;

}



#p28-img4 {

    z-index: 1;

    animation: fadeSlides 15s -10s infinite;

    -webkit-animation: fadeSlides 15s -10s infinite;

}



@keyframes fadeSlides {

    0% {

        opacity: 0;

        visibility: hidden;

    }



    20% {

        opacity: 1;

        visibility: visible;

    }



    33% {

        opacity: 1;

        visibility: visible;

    }



    53% {

        opacity: 0;

        visibility: hidden;

    }



    100% {

        opacity: 0;

        visibility: hidden;

    }

}







/********************************

*******

** BLOCKS CATALOGUE & FOCUS REAL

*******

**********************************/

.p28-slidercontent {

    height: 600px !important;

}



.p28-secondpinnedpost {

    justify-content: center;

}



.p28-bannerexcerpt {

    margin-bottom: 2%;

}





.p28-slidercontent .p28-pinnedpost-right {

    width: 60% !important;

}



.p28-slidercontent .p28-pinnedpost-left {

    width: 40% !important;

}



.p28-catalogue {

    display: flex;

    flex-direction: row;

    justify-content: center;

    align-content: center;

    flex-wrap: wrap;

    margin-left: auto;

    margin-right: auto;

    width: 1000px;

    padding: 2% 0;

}







.p28-catalogue-item,

.p28-filmsreal-item {

    margin: 10px;

    text-align: center;

}



img.p28-catalogue-img,

img.p28-filmsreal-img {

    object-fit: cover;

    width: 215px;

    height: 270px;

}





.p28-focusreal {

    display: flex;

    position: relative;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    width: 1000px;

    margin: auto;

    background-repeat: no-repeat;

    background-size: contain;

    background-position: center top;

}



.p28-focusreal h2 {

    position: relative;

    top: 25px;

    text-transform: uppercase;

    font-size: 60px !important;

    text-align: center;

    padding-top: 25%;

    padding-bottom: 0 !important;

    margin-bottom: 0 !important;

    text-shadow: 1px -5px 10px #ffffff;

}



.p28-focusreal-item {

    padding: 2%;

    border-radius: 10px;

    width: 90%;



}



.p28-filmsreal {

    display: flex;

    flex-direction: row;

    justify-content: space-evenly;

    align-content: center;

    flex-wrap: wrap;

    margin: auto;

    width: 100%;

    padding: 2% 0;

}



.p28-filmsreal-item .p28-btn {

    margin: auto;

}



/********************************

*******

** STYLISH ANGLED BLOCKS

*******

**********************************/

.p28-pinnedpost,

.p28-secondpinnedpost {

    display: flex;

    flex-direction: row;

    overflow: hidden;

    /*height: 80vh;*/

}



.p28-pinnedpost-left,

.p28-pinnedpost-right {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: left;



}



.p28-pinnedpost-left {

    width: 40%;

}





.p28-pinnedpost-right {

    width: 60%;

}



.p28-angled-right {

    transform: skewX(-10deg);

    width: 9.5vw;

    left: 5%;

    position: relative;

}



.p28-angled-left {

    transform: skewX(10deg);

    width: 9vw;

    left: -5%;

    position: relative;

}



.p28-txtbloc {

    width: 700px;

    /*height: 300px;*/

    margin-top: 5%;

    /*  margin-bottom: 5%;*/

    margin-left: auto;

    margin-right: auto;

}





.p28-bar {

    width: 22px;

    height: 100%;

    margin: 0 1%;

}



/********************************

*******

** RESPONSIVENESS

*******

**********************************/





@media screen and (max-width:1280px) {

    .p28-angled-right {

        transform: skewX(-7deg) !important;

    }



    .p28-angled-left {

        transform: skewX(7deg) !important;

    }



    .p28-catalogue,

    .p28-focusreal {

        width: 90%;

    }



    /*  .p28-catalogue {

        flex-direction: column;

    }*/



    .p28-focusreal h2 {

        font-size: 5.5vw !important;

    }











    .p28-slidercontent .p28-pinnedpost-right {

        width: 60% !important;

    }



    .p28-slidercontent .p28-pinnedpost-left {

        width: 40% !important;

    }



    .p28-slide-img {

        width: 47vw;

    }







    .p28-block-rounded {

        margin: 5em 1em;

    }



    .p28-h1accroche {



        width: 80%;

        font-size: 17px;

    }



}



@media screen and (max-width:800px) {

    .p28-slidercontent .p28-pinnedpost-right {

        width: 100% !important;

    }



    .p28-slidercontent .p28-pinnedpost-left {

        width: 100% !important;

    }



    .p28-slidercontent {

        height: auto !important;

    }



    .slider {



        height: 500px;

        width: 100%;

        position: relative;

    }



    .p28-pinnedpost {

        flex-direction: column-reverse;



    }



    .p28-h1 {

        text-align: center !important;

        padding: 0 3%;

    }



    .p28-secondpinnedpost {

        flex-direction: column;

        justify-content: space-between;

    }



    .p28-pinnedpost-left,

    .p28-pinnedpost-right {

        width: 100%;

        align-items: center !important;

    }



    .p28-pinnedpost-left {

        padding: 5% 0 !important;

    }



    .p28-bannerexcerpt {

        padding: 0 4%;

        text-align: center;

        margin: 1% 0;

    }



    .p28-imgfull {

        width: 100%;

    }



    .p28-bar,

    .p28-angled-right {

        display: none;

    }



    .p28-txtbloc {

        width: 90%;
        height: auto;

    }



    .p28-filmsreal {

        flex-wrap: wrap;

    }



    .p28-focusreal h2 {

        font-size: 5.5vw !important;

        top: 15px;

    }



    .p28-slide-img {

        width: 82vw;

        height: 414px;

    }







}