/********************************
*******
** FONT STYLES
*******
**********************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/********************************
*******
** BUTTON STYLES
*******
**********************************/
.p28-btn {
    width: 157px;
    height: 34px;
    padding: 5px 15px;
    border-radius: 10px;
}

.p28-btn-primary {
    background-color: #cbbdff;
    color: #15071d;
}

.p28-btn-secondary {
    background-color: #15071d;
    color: #fec32e;
}