/********************************
*******
** NAV BAR MAIN STYLE
*******
**********************************/
nav.p28-navbar {
    width: 98%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding: 1%;
}


li.p28-logo-item {
    flex-grow: 3;
}


nav.p28-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

nav.p28-navbar>ul li {
    padding: 0 10px;
}

nav.p28-navbar>ul li:nth-child(3) {
    flex-grow: 2;
}


nav.p28-navbar>ul>li>div#p28-sidemenu {

    position: fixed;
    padding: 2% 0;
    left: -300px;
    width: 300px;
    background-color: #15071d;
    transition: left 0.5s ease;
    -webkit-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;


}

div#p28-sidemenu span.p28-sidemenu-item {
    color: #cbbdff;
    display: block;
}

/* Modifier */
.p28-burger--is-opened {

    padding: 2% !important;
    left: 2% !important;

}

.p28-burger--is-opened div#p28-sidemenu .p28-sidemenu-item {}

@media screen and (max-width:800px) {
    /*
    nav.p28-navbar>ul>li>ol:not(:first-child) {
        display: flex;
    }


    nav.p28/-navbar>ul>li:not(:first-child, img.p28-logo) {
        display: none;
    }*/

}