/********************************
*******
** SVG COLORS
*******
**********************************/
.p28-menu-icon svg.p28-fill-cbbdff {
    fill: #cbbdff;

}

.p28-menu-icon-cross {
    transition: 0.5s;
    d: path("M14,1.4 L12.6,0 L7,5.6 L1.4,0 L0,1.4 L5.6,7 L0,12.6 L1.4,14 L7,8.4 L12.6,14 L14,12.6 L8.4,7 L14,1.4 Z");
}



/********************************
*******
** WIDTH AND HEIGHT
*******
**********************************/
.p28-50 {
    width: 50px;
    height: auto;
}

.p28-34-34 {
    width: 34px;
    height: 34px;
}