.p28-infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.p28-infos-item {
    border-radius: 10px;
    width: 300px;
    padding: 2%;
    margin: 10px;
}


/********************************
*******
** COMMENTS AREA
*******
**********************************/
.p28-comments {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.p28-comments h3.comment-reply-title,
.p28-comments p {
    color: #cbbdff !important;
}

.p28-comments p.form-submit>input[type=submit] {
    background-color: #cbbdff;
    color: #15071d;
    padding: 10px 20px !important;
    outline: none;
    padding: 5px 15px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.p28-comments p.form-submit>input[type=submit]:hover {
    cursor: pointer;
    background-color: #15071d;
    color: #cbbdff;
    font-weight: bold;
    border: 1px solid #cbbdff;
}