.p28-infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.p28-infos-item {
    border-radius: 10px;
    width: 350px;
    padding: 1% 2%;
    margin: 20px;
    height: 100px;
    text-transform: uppercase;
}


/********************************
*******
** COMMENTS AREA
*******
**********************************/
.p28-comments {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.p28-comments h3.comment-reply-title,
.p28-comments p {
    color: #cbbdff !important;
}

.p28-comments p.form-submit>input[type=submit] {
    background-color: #cbbdff;
    color: #15071d;
    padding: 10px 20px !important;
    outline: none;
    padding: 5px 15px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.p28-comments p.form-submit>input[type=submit]:hover {
    cursor: pointer;
    background-color: #15071d;
    color: #cbbdff;
    font-weight: bold;
    border: 1px solid #cbbdff;
}

.p28-approuved-comments {
    border-radius: 10px;
    border: 1px solid #77567d;
    padding: 1%;
    margin: 2% 0;
}

.p28-comment-item {
    padding: 0 3%;
}

@media screen and (max-width:800px) {

    .p28-comments,
    .comment-form textarea {
        padding: 5%;
        width: 80%;
    }

    .p28-infos-item {
        width: 200px;
        height: 83px;
        font-size: 12px;
    }

}