@import 'config';

body,
html {
    width: 100%;
    margin: 0;
    font-family: $global-font-family;
    color: $main-dark-colour;
}

/* Common stuff */
.display-from-md {

    @include maxScreenWidth($md) {
        display: none;
    }
}

.display-until-md {

    @include minScreenWidth($md) {
        display: none;
    }
}

/* Colors */
.p28-bg-light {
    background-color: $main-light-colour;
}

/* Texts and links */
a {
    text-decoration: none;
    color: inherit;
}

li.p28-navbar-item>a {
    background:
        linear-gradient(to right,
            rgba(203, 189, 255, 0),
            rgba(203, 189, 255, 0)),
        linear-gradient(to right,
            rgba(254, 195, 46, 1),
            rgba(57, 251, 126, 1),
            rgba(203, 189, 255, 1));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

}

li.p28-navbar-item>a:hover {
    background-size: 0 3px, 100% 3px;
}

/* images */
.width-50 {
    width: 50px;
    height: auto;
}

/* Flex containers */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Main navbar */
nav.p28-navbar {
    width: 100%;
    height: auto;
    position: fixed;
}

.p28-navbar-top {
    top: 0
}

.p28-navbar-bottom {
    bottom: 0
}

nav.p28-navbar>ul {
    @extend .flex-row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 15px
}

nav.p28-navbar-top ul>li:first-child {

    position: static;
    left: 0;

    @include minScreenWidth($md) {
        position: relative;
        left: -35%;
    }
}

nav.p28-navbar ul>li {
    text-transform: uppercase;
    @include fontWeight(600);
}